@media screen and (max-width: 1150px) {
  #home {
    background-repeat: no-repeat;
    height: inherit;
  }
  #home #profile {
    padding-top: 200px;
  }
  #home #profile h2 {
    font-size: 4em;
  }
  #home #profile p {
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 5px;
    letter-spacing: 1px;
  }
  #home #workLink {
    margin-top: 100px;
  }
  #home #workLink ul {
    padding: 20px;
  }
  #projects section article:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
}

@media screen and (max-width: 1080px) {
  #home #profile {
    padding-top: 200px;
  }
  #home #profile h2 {
    font-size: 3.5em;
    color: #000;
  }
  #home #profile p {
    font-size: 25px;
    padding-top: 10px;
    color: #000;
  }
  #home #workLink {
    margin-top: 100px;
  }
  #home #workLink ul {
    padding: 20px;
  }
  #skills h3 {
    padding-top: 85px;
  }
  #skills #skillset ul li {
    font-size: 24px;
  }
  #projects h3 {
    padding-top: 85px;
  }
  #projects section article {
    width: 400px;
  }
  #projects section article:hover {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  #projects section article figure {
    width: 220px;
  }
  #projects section article #CheckIt {
    width: 400px;
  }
  #about h3 {
    padding-top: 85px;
  }
}

@media screen and (max-width: 930px) {
  #home #profile p {
    font-size: 20px;
  }
  #home header #desktopNav {
    display: none;
  }
  #home header #mobileNav {
    display: block;
  }
  #projects section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #skills #skill article {
    width: 250px;
  }
  #skills #skillset ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #skills #skillset ul li {
    width: 45%;
  }
  #contact section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #contact section article {
    width: 100%;
  }
  #contact section article p {
    text-align: center;
  }
  #contact section article ul {
    margin-top: 50px;
  }
  #contact section article #form {
    width: 90%;
  }
}

@media screen and (max-width: 720px) {
  #skills #skill {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #skills #skill article {
    margin-top: 20px;
  }
}

@media screen and (max-width: 670px) {
  #skills #skillset ul li {
    margin-top: 15px;
  }
  #contact section article p {
    text-align: center;
  }
}

@media screen and (max-width: 560px) {
  #home #profile h2 {
    font-size: 3em;
  }
  #home #profile #workLink {
    margin-top: 50px;
  }
  #home #profile #workLink ul {
    padding: 20px;
  }
}

@media screen and (max-width: 480px) {
  #home header {
    height: 100px;
    position: fixed;
    width: 100%;
  }
  #home #profile {
    padding-top: 170px;
  }
  #home #profile h2 {
    font-size: 3em;
  }
  #home #profile p {
    font-size: 15px;
  }
  #home #worklink {
    margin-top: 50px;
    padding-top: 0px;
  }
  #home #worklink ul {
    margin-top: 0;
    padding-top: 0;
  }
  #skills #skillset ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 50px;
  }
  #skills #skillset ul li {
    width: 100%;
    margin-top: 15px;
  }
  #skills #skillset ul li .procenat {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #projects section article {
    width: 350px;
  }
  #projects section article #CheckIt {
    width: 350px;
  }
  #contact section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact section article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact section article p {
    text-align: center;
  }
}

@media screen and (max-width: 380px) {
  #home header {
    position: fixed;
  }
  #home #profile h2 {
    font-size: 2.5em;
  }
  #home #profile #workLink {
    margin-top: 30px;
  }
  #home #profile #workLink ul {
    padding: 20px;
  }
  #skills #skill article {
    width: 200px;
  }
  #skills #skillset ul li {
    margin-top: 15px;
  }
  #skills #skillset ul li .procenat {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #contact section article p {
    text-align: center;
  }
}
/*# sourceMappingURL=responsive.css.map */