@media screen and(max-width:1150px){
    #home{        
        background-repeat: no-repeat;
        height: inherit;
        #profile{
            padding-top: 200px;
            h2{
                font-size: 4em;
            }
            p{
                font-size: 25px;
                padding-top: 10px;
                padding-bottom: 5px;
                letter-spacing: 1px;
            }
        }
        #workLink{
            margin-top: 100px;
            ul{
                padding: 20px;
            }
        }
    }
    #projects{
        section{
            article{
                &:hover{
                    transform: scale(1.03);
                }
            }
        }
    }
}
@media screen and(max-width:1080px){
    #home{
        #profile{
            padding-top: 200px;            
            h2{
                font-size: 3.5em;
                color: #000;
            }
            p{
                font-size: 25px;
                padding-top: 10px;
                color: #000;
            }
        }
        #workLink{
            margin-top: 100px;
            ul{
                padding: 20px;
            }
        }
    }
    #skills{
        h3{
            padding-top: 85px;
        }
        #skillset{
            ul{
                li{
                    font-size: 24px;
                }
            }
        }
    }
    #projects{
        h3{
            padding-top: 85px;
        }
        section{
            article{
                    width: 400px;
                    &:hover{
                        transform: scale(1.01);
                    }
                figure{
                    width: 220px;
                }
                #CheckIt{
                    width: 400px;
                    a{

                    }
                }
            }
        }
    }
    #about{
        h3{
            padding-top: 85px;
        }
    }
}
@media screen and(max-width:930px){
    #home{
        #profile{
            p{
                font-size: 20px;
            }
        }
        header{
            #desktopNav{
                display: none;
            }
            #mobileNav{
                display: block;
            }
        }
    }
    #projects{
        section{
            flex-wrap: wrap;           
        }
    }
    #skills{
        #skill{
            article{
                width: 250px;
            }
        }
        #skillset{
            ul{
                flex-wrap: wrap;            

                li{
                    width: 45%;
                }
            }
        }
    }
    #contact{
        section{
            flex-wrap: wrap;
            article{
                width: 100%;
                p{
                    text-align: center;
                }
                ul{
                    margin-top: 50px;
                }
                #form{
                    width: 90%;
                }
            }
        }
    }
}
@media screen and(max-width:720px){
    #skills{
        #skill{
            flex-wrap: wrap;
            article{
                margin-top: 20px;
            }
        }
    }
}
@media screen and(max-width:670px){
    #skills{
        #skillset{
            ul{
                li{
                    margin-top: 15px;
                }
            }
        }
    }
    #contact{
        section{
            article{
                p{
                    text-align: center;
                }
            }
        }
    }

}
@media screen and(max-width:560px){
    #home{
        #profile{
        h2{
            font-size: 3em;
        }
        #workLink{
            margin-top: 50px;
            ul{
                padding: 20px;
            }
        }
    }
}

}
@media screen and(max-width:480px){
    #home{
        header{
            height: 100px;
            position: relative;
            width: 100%;

        }
        #profile{
            padding-top: 100px;
            h2{
                font-size: 3em;
            }
            p{
                font-size: 15px;
            }
        }
        #worklink{
            margin-top: 50px;
            padding-top: 0px;
            ul{
                margin-top: 0;
                padding-top: 0;
            }
        }
    }
    #skills{
        #skillset{
            ul{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap; 
                padding: 0 50px;
                li{
                    width: 100%;
                    margin-top: 15px;
                    .procenat{
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                }
            } 
        }
    }
    #projects{
        display: flex;
        flex-direction: column;
        section{
            article{
                width: 350px;
                #CheckIt{
                    width: 350px;            
                }
            }
        }
    }
        
    }
    #contact{
        section{
            display: flex;
            flex-direction: column;
            align-items: center;
            article{
                display: flex;
                justify-content: center;
                flex-direction: column;
                p{
                    text-align: center;
                }

            }
            
        }
    }
}
@media screen and(max-width:380px){
    #home{
        #profile{
            h2{
                font-size: 2.5em;            
            }
            #workLink{
                margin-top: 30px;
                ul{
                    padding: 20px;
                }
            }
        }
    }
    #skills{
        #skill{
            article{
                width: 200px;
            }
        }
        #skillset{
            ul{
                li{
                    margin-top: 15px;
                    .procenat{
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    #contact{
        section{
            article{
                p{
                    text-align: center;
                }
            }
        }
    }
}