@media screen and(max-width:1180px){
    #home{
        
        background-repeat: no-repeat;
        height: inherit;
        #profile{
            color: #fff;
            padding-top: 70px;
            text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
            background-color: rgba(0,0,0,0.6);
            h2{
                font-size: 3.5em;

            }
            p{
                font-size: 14px;
                padding-top: 10px;
                padding-bottom: 5px;
                letter-spacing: 1px;
                color: #fff;

            }
        }
    }
}
@media screen and(max-width:1020px){
    #home{
        height: 100vh;
        #profile{
            padding-top: 150px;
            box-sizing: border-box;
            text-shadow: 5px 5px 5px rgba(0,0,0,0.9);
            h2{
                font-size: 3em;


            }
            p{
                font-size: 30px;
                padding-top: 10px;
            }
        }
        #workLink{
            margin-top: 100px;
            ul{
                padding: 20px;
            }
        }
    }
    #skills{
        h3{
            padding-top: 85px;
        }
        #skillset{
            ul{
                li{
                    font-size: 24px;
                }
            }
        }
    }
    #projects{
        h3{
            padding-top: 85px;
        }
        section{
            article{
                figure{
                    width: 280px;
                }
            }
        }
    }
    #about{
        h3{
            padding-top: 85px;
        }
    }
}
@media screen and(max-width:930px){
    #projects{
        section{
            // flex-direction: column;
            flex-wrap: wrap;            
        }
    }
    #skills{
        #skillset{
            ul{
                flex-wrap: wrap;            

                li{
                    width: 45%;
                }
            }
        }
    }
    #contact{
        section{
            flex-wrap: wrap;
            article{
                width: 100%;
                ul{
                    margin-top: 50px;
                }
                #form{
                    width: 90%;
                }
            }

        }
    }
#home{
    #profile{
        h2{
            font-size: 2em;

        }
    }
    header{
        #desktopNav{
            display: none;
        }
        #mobileNav{
            display: block;
        }
    }
}

    
}
@media screen and(max-width:670px){

    #home{
        #profile{
            h2{
                font-size: 1.5em;
    
            }
        }
    }

}
@media screen and(max-width:480px){
    #home{
        header{
            height: 100px;
            position: relative;
            width: 100%;

        }
        #profile{
            text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
            padding-top: 100px;
            h2{
                font-size: 1.3em;
                color: #fff;
            }
            p{
                font-size: 14px;
                color: #fff;
            }
        }
        #worklink{
            margin-top: 0px;
            padding-top: 0px;
            ul{
                margin-top: 0;
                padding-top: 0;
            }
        }
    }
    #skills{
        #skillset{
            ul{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap; 
                padding: 0 50px;
                li{
                    width: 100%;
                }
            } 
        }
    }
    #projects{
        section{
            
            display: flex;
            flex-direction: column;
            article{
                display: flex;
                justify-content: center;

            }
        }
    }
    #contact{
        section{
            display: flex;
            flex-direction: column;
            align-items: center;
            article{
                display: flex;
                justify-content: center;
                flex-direction: column;

            }
            
        }
    }
}